@using TareasMVC.Models;
@model EvaluacionViewModel; 
@{
    ViewData["Title"] = "Agregar registro de evaluación";
}

<h1 class="mb-5">Agregar registro de evaluación</h1>

<div class="card mt-5">
    <div class="card-body">
        <form asp-action="Agregar">
            <span asp-validation-summary="ModelOnly" class="text-danger"></span>

            <div class="mb-4">
                <label asp-for="EvaluadorId" class="form-label fw-bold"></label>
                <select asp-for="EvaluadorId" asp-items="Model.Evaluadores" class="form-select" aria-label="Seleccionar Terminal">
                    <option value="">-- Seleccione Evaluador --</option>
                </select>
                <span asp-validation-for="EvaluadorId" class="text-danger small"></span>
            </div>
            <div class="mb-4">
                <label asp-for="TerminalId" class="form-label fw-bold"></label>
                <select asp-for="TerminalId" asp-items="Model.Terminales" class="form-select" aria-label="Seleccionar Terminal">
                    <option value="">-- Seleccione Terminal --</option>
                </select>
                <span asp-validation-for="TerminalId" class="text-danger small"></span>
            </div>
            <div class="mb-4">
                <label asp-for="FechaEvaluacion" class="form-label fw-bold"></label>
                <input asp-for="FechaEvaluacion" type="datetime-local" class="form-control" value="@(new DateTime())">
                <span asp-validation-for="FechaEvaluacion" class="text-danger small"></span>
            </div>
            <div class="mb-4">
                <label asp-for="NombreEvaluado" class="form-label fw-bold"></label>
                <input asp-for="NombreEvaluado" type="text" class="form-control">
                <span asp-validation-for="NombreEvaluado" class="text-danger small"></span>
            </div>

            <div class="mb-4">
                <label asp-for="ApellidoEvaluado" class="form-label fw-bold"></label>
                <input asp-for="ApellidoEvaluado" type="text" class="form-control">
                <span asp-validation-for="ApellidoEvaluado" class="text-danger small"></span>
            </div>

            <div class="mb-4">
                <label asp-for="Observaciones" class="form-label fw-bold"></label>
                <input asp-for="Observaciones" type="text" class="form-control">
                <span asp-validation-for="Observaciones" class="text-danger small"></span>
            </div>

            <div class="mb-4">
                <label asp-for="ExperienciaoNumeroEquipo" class="form-label fw-bold"></label>
                <input asp-for="ExperienciaoNumeroEquipo" type="number" class="form-control">
                <span asp-validation-for="ExperienciaoNumeroEquipo" class="text-danger small"></span>
            </div>

            @* <div class="mb-4">
                <partial name="_ArchivosAdjuntos" />
            </div> *@

            <button class="btn-primary btn">Agregar Registro</button>
        </form>
    </div>
</div>
