@{
    Layout = "../shared/_layout";
    ViewData["Title"] = "Evaluaciones";
}

<h1>Evaluaciones</h1>

<section class="" style="display:flex; gap:1rem;">
    <a asp-action="Add" class="btn btn-primary">Agregar evaluacion</a>
</section>

